<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="vi" lang="en-US" prefix="og: http://ogp.me/ns#">
  <head>
    <title>Catalogue - Ngoại thất Fansipan</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='shortcut icon' href='images/favicon.ico' type='image/x-icon'/ >
    <meta name="description" content="Những hình ảnh về sản phẩm bàn ghế Patio, bàn ghế Kite của Ngoại thất Fansipan">
    <%- include("style-tags");%>
  </head>
  <body>
    <%- include('navbar',{current_page:""});%>
<section>
<div class="container">
  <header>
  <h1 class="text-center" style="color: #08A650">Catalogue Ngoại thất Fansipan</h1>
</header>
<article>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 col-xs-6 album">
        <img src="images/ghe-cafe-kite-fansipan.png" alt="bàn ghế nhà hàng, bàn ghế cafe, bàn ghế sân vườn, bàn ghế quán nhậu, bàn ghế ban công, bàn ghế ngoài trời Ngoại thất Fansipan" title="Bộ bàn ghế Kite của Ngoại thất Fansipan" class="img img-responsive img-rounded"/>
      </div>
      <div class="col-sm-4 col-xs-6 album">
        <img src="images/ban-cafe-go-cafe-fansipan-kite.jpg" alt="bàn ghế nhà hàng, bàn ghế cafe, bàn ghế sân vườn, bàn ghế quán nhậu, bàn ghế ban công, bàn ghế ngoài trời Ngoại thất Fansipan" title="Bộ bàn ghế Kite của Ngoại thất Fansipan" class="img img-responsive img-rounded"/>
      </div>
      <div class="col-sm-4 col-xs-6 album">
        <img src="images/ban-ghe-cafe-fansipan-patio.png" alt="bàn ghế nhà hàng, bàn ghế cafe, bàn ghế sân vườn, bàn ghế quán nhậu, bàn ghế ban công, bàn ghế ngoài trời Ngoại thất Fansipan" title="Bộ bàn ghế Patio của Ngoại thất Fansipan" class="img img-responsive img-rounded"/>
      </div>
      <div class="col-sm-4 col-xs-6 album">
        <img src="images/ban-ghe-ngoai-that-fansipan-patio.jpg" alt="bàn ghế nhà hàng, bàn ghế cafe, bàn ghế sân vườn, bàn ghế quán nhậu, bàn ghế ban công, bàn ghế ngoài trời Ngoại thất Fansipan" title="Bộ bàn ghế Patio của Ngoại thất Fansipan" class="img img-responsive img-rounded"/>
      </div>
      <div class="col-sm-4 col-xs-6 album">
        <img src="images/ban-ghe-go-fansipan-patio.jpg" alt="bàn ghế nhà hàng, bàn ghế cafe, bàn ghế sân vườn, bàn ghế quán nhậu, bàn ghế ban công, bàn ghế ngoài trời Ngoại thất Fansipan" title="Bộ bàn ghế Patio của Ngoại thất Fansipan" class="img img-responsive img-rounded"/>
      </div>
      <div class="col-sm-4 col-xs-6 album">
        <img src="images/ban-ghe-go-cafe.jpg" alt="bàn ghế nhà hàng, bàn ghế cafe, bàn ghế sân vườn, bàn ghế quán nhậu, bàn ghế ban công, bàn ghế ngoài trời Ngoại thất Fansipan" title="Bộ bàn ghế Patio của Ngoại thất Fansipan" class="img img-responsive img-rounded"/>
      </div>
      <div class="col-sm-4 col-xs-6 album">
        <img src="images/ban-ghe-ngoai-troi-fansipan-patio.png" alt="bàn ghế nhà hàng, bàn ghế cafe, bàn ghế sân vườn, bàn ghế quán nhậu, bàn ghế ban công, bàn ghế ngoài trời Ngoại thất Fansipan" title="Bộ bàn ghế Patio của Ngoại thất Fansipan" class="img img-responsive img-rounded"/>
      </div>
      <div class="col-sm-4 col-xs-6 album">
        <img src="images/ban-ghe-nha-hang-fansipan-patio.png" alt="bàn ghế nhà hàng, bàn ghế cafe, bàn ghế sân vườn, bàn ghế quán nhậu, bàn ghế ban công, bàn ghế ngoài trời Ngoại thất Fansipan" title="Bộ bàn ghế Patio của Ngoại thất Fansipan" class="img img-responsive img-rounded"/>
      </div>
      <div class="col-sm-4 col-xs-6 album">
        <img src="images/fansipan-patio-ban-ghe-ngoai-troi.png" alt="bàn ghế nhà hàng, bàn ghế cafe, bàn ghế sân vườn, bàn ghế quán nhậu, bàn ghế ban công, bàn ghế ngoài trời Ngoại thất Fansipan" title="Bộ bàn ghế Patio của Ngoại thất Fansipan" class="img img-responsive img-rounded"/>
      </div>
      <div class="col-sm-4 col-xs-6 album">
        <img src="images/ban-ghe-go-cafe-fansipan.jpg" alt="bàn ghế nhà hàng, bàn ghế cafe, bàn ghế sân vườn, bàn ghế quán nhậu, bàn ghế ban công, bàn ghế ngoài trời Ngoại thất Fansipan" title="Bộ bàn ghế Patio của Ngoại thất Fansipan" class="img img-responsive img-rounded"/>
      </div>
      <div class="col-sm-4 col-xs-6 album">
        <img src="images/ban-ghe-cafe-fansipan.jpg" alt="bàn ghế nhà hàng, bàn ghế cafe, bàn ghế sân vườn, bàn ghế quán nhậu, bàn ghế ban công, bàn ghế ngoài trời Ngoại thất Fansipan" title="Bộ bàn ghế Patio của Ngoại thất Fansipan" class="img img-responsive img-rounded"/>
      </div>
      <div class="col-sm-4 col-xs-6 album">
        <img src="images/ban-ghe-cafe-ngoai-troi-fansipan-patio.jpg" alt="bàn ghế nhà hàng, bàn ghế cafe, bàn ghế sân vườn, bàn ghế quán nhậu, bàn ghế ban công, bàn ghế ngoài trời Ngoại thất Fansipan" title="Bộ bàn ghế Patio của Ngoại thất Fansipan" class="img img-responsive img-rounded"/>
      </div>
      <div class="col-sm-4 col-xs-6 album">
        <img src="images/ban-ghe-go-ngoai-troi-fansipan.jpg" alt="bàn ghế nhà hàng, bàn ghế cafe, bàn ghế sân vườn, bàn ghế quán nhậu, bàn ghế ban công, bàn ghế ngoài trời Ngoại thất Fansipan" title="Bộ bàn ghế Patio của Ngoại thất Fansipan" class="img img-responsive img-rounded"/>
      </div>
      <div class="col-sm-4 col-xs-6 album">
        <img src="images/ban-ghe-go-ngoaithat-fansipan.jpg" alt="bàn ghế nhà hàng, bàn ghế cafe, bàn ghế sân vườn, bàn ghế quán nhậu, bàn ghế ban công, bàn ghế ngoài trời Ngoại thất Fansipan" title="Bộ bàn ghế Patio của Ngoại thất Fansipan" class="img img-responsive img-rounded"/>
      </div>
    </div>
  </div>

  <div id="myModal" class="modal">

  <!-- The Close Button -->
  <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>


</div>
</article>
  <footer><hr><footer>
</div>
</section>
<%- include('footer');%>
</body>
<%- include("script-tags");%>
</html>
